<!DOCTYPE html>
<html lang="vn">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Trang chủ</title>

  <!-- Favicon -->
  <link rel="icon" href="/public/images/favicon.ico">
  
  <!-- Import CSS file -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
  <link rel="stylesheet" href="/public/stylesheets/default.css">
  <link rel="stylesheet" href="/public/stylesheets/home.css">

  <!-- Import JS file -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.0/chart.min.js"></script>
  <script src="/public/javascripts/home.js"></script>
</head>
<body>
    <div class="container">
        <div class="content">
            <div class="content-left">
                <div class="content-left-top">
                    <div class="content-left-logo">
                        <img src="/public/images/popcorn-logo-black.png" alt="Logo">
                    </div>
    
                    <div class="content-left-user-info">
                        <h1><%= username %></h1>
                        <p>Mã số thẻ: <span style="color: deepskyblue; font-weight: bold;"><%= cardid %></span></p>
                    </div>
                </div>

                <div class="content-left-env-info">
                    <h1>Thông số môi trường</h1>
                    <div class="content-left-env-info-items row">
                        <div class="content-left-env-info-item">
                            <p>Nhiệt độ</p>
                            <h1><%= curState['temperature'] %><span>&ordm;C</span></h1>
                        </div>

                        <div class="content-left-env-info-item">
                            <p>Độ ẩm</p>
                            <h1><%= curState['humidity'] %><span>%</span></h1>
                        </div>

                        <div class="content-left-env-info-item">
                            <p>Lửa</p>
                            <h1><%= curState['fire'] %></h1>
                        </div>

                        <div class="content-left-env-info-item">
                            <p>Khí gas</p>
                            <h1><%= curState['gas'] %></h1>
                        </div>
                    </div>

                    <div class="content-left-env-info-status">
                        <% if(curState.warning == 'An toàn'){ %>
                            <p><i class="fas fa-exclamation-circle"></i> Cảnh báo: <span style="color: limegreen;"><%= curState.warning %></span></p>
                        <% } else if(curState.warning == 'Không rõ') { %>
                            <p><i class="fas fa-exclamation-circle"></i> Cảnh báo: <span style="color: deepskyblue;"><%= curState.warning %></span></p>
                        <% } else { %>
                            <p><i class="fas fa-exclamation-circle"></i> Cảnh báo: <span style="color: red;"><%= curState.warning %></span></p>
                        <% } %>
                    </div>
                </div>

                <div class="content-left-control">
                    <h1>Bảng điều khiển</h1>
                    <div class="content-left-control-body">
                        <% if(systemState){ %>
                            <p><i class="fas fa-check-circle"></i> Trạng thái: <span style="color: limegreen;">Bật</span></p>
                            <button onclick="turnOff()"><i class="fas fa-power-off"></i> Tắt hệ thống</button>
                        <% } else { %>
                            <p><i class="fas fa-check-circle"></i> Trạng thái: <span style="color: red;">Tắt</span></p>
                            <button onclick="turnOn()"><i class="fas fa-power-off"></i> Bật hệ thống</button>
                        <% } %>
                    </div>
                </div>

                <div class="content-left-analyse">
                    <h1>Bảng phân tích</h1>
                    <div class="content-left-analyse-average">
                        <div class="content-left-analyse-average-header">
                            <p>Thông số trung bình ngày</p>
                            <%  
                                function dateToString(date){
                                    return `${('0' + date.getDate()).slice(-2)}-${('0' + (date.getMonth() + 1)).slice(-2)}-${date.getFullYear()}`
                                }
                                const date = new Date()
                                const dateString = dateToString(date)
                            %>
                            <span><%= dateString %></span>
                        </div>
                        
                        <div class="content-left-analyse-items row">   
                            <div class="content-left-analyse-item">
                                <p>Nhiệt độ</p>
                                <h1><%= avgState['temperature'] %><span>&ordm;C</span></h1>
                            </div>
    
                            <div class="content-left-analyse-item">
                                <p>Độ ẩm</p>
                                <h1><%= avgState['humidity'] %><span>%</span></h1>
                            </div>
    
                            <div class="content-left-analyse-item">
                                <p>Lửa</p>
                                <h1><%= avgState['fire'] %></h1>
                            </div>
    
                            <div class="content-left-analyse-item">
                                <p>Khí gas</p>
                                <h1><%= avgState['gas'] %></h1>
                            </div>
                        </div>
                    </div>                    
                </div>

                <div class="content-left-bottom">
                    <button class="button-refresh"><i class="fas fa-redo"></i> Làm mới</button>
                    <button onclick="logout()"><i class="fas fa-sign-out-alt"></i> Đăng xuất</button>
                </div>
            </div>
            <div class="content-right">
                <div class="content-right-title">
                    <h1>Biểu đồ thông tin</h1>
                </div>
                <div class="content-right-chart-list row">
                    <div class="content-right-chart-container">
                        <div class="content-right-chart-content">
                            <canvas></canvas>
                        </div>
                        <div class="content-right-chart-title">
                            <p>Biểu đồ nhiệt độ</p>
                        </div>
                    </div>

                    <div class="content-right-chart-container">
                        <div class="content-right-chart-content">
                            <canvas></canvas>
                        </div>
                        <div class="content-right-chart-title">
                            <p>Biểu đồ độ ẩm</p>
                        </div>
                    </div>

                    <div class="content-right-chart-container">
                        <div class="content-right-chart-content">
                            <canvas></canvas>
                        </div>
                        <div class="content-right-chart-title">
                            <p>Biểu đồ cảm biến lửa</p>
                        </div>
                    </div>

                    <div class="content-right-chart-container">
                        <div class="content-right-chart-content">
                            <canvas></canvas>
                        </div>
                        <div class="content-right-chart-title">
                            <p>Biểu đồ cảm biến khí gas</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</body>
</html>